body {
    font-family: 'Montserrat';
    font-weight: 400;
    background-color: rgb(250,250,250);
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: 700;
    padding-top: 3px;
}
nav {
    z-index: 1;
}
.dropdown-item.active {
    background-color: rgb(250,250,250);
    color: black;
}
.title {
    padding-top: 10px;
}
.header {
    position: fixed;
}
.active {
    background-color: inherit;
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 99; 
    border: none;
    outline: none;
    background-color: rgb(230,230,230);
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px; 
    font-size: 18px;
    font-family: 'Playfair Display';
    font-weight: 700;
}
.dropdown-menu {
    background-color: rgb(250,250,250);
    font-size: 11pt;
}
.dropdown-item:hover {
    background-color: rgb(240,240,240);
    color: black;
}
.card {
    background-color: rgb(250,250,250);
    border: none;
}

.card-header {
    background-color: rgb(250,250,250);
    border-bottom: 0.5px solid darkslategray;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.main-image {
    position: relative;
    text-align: center;
    color: white;
}

.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav {
	border-top: 0.5px solid darkslategray;
}
a {
	color: darkslategray;
}
a:hover {
	color: darkslategray;
}
.active:hover {
    color: initial;
}
.footer {
    border-top: 0.5px dotted darkslategray;
    font-size: 9pt;
}
.list::before {
    content: "- ";
}
::selection {
	color: white;
	background-color: darkslategray;
}
::-moz-selection {
	color: white;
	background-color: darkslategray;
}