::selection {
	color: white;
	background-color: darkslategray;
}
::-moz-selection {
	color: white;
	background-color: darkslategray;
}
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
	color: #899490;
	background-color: rgb(240,240,240);
}
.list::before {
    content: "- ";
}
input[type='radio']:checked:after {
	background-color: darkslategray;
}
nav {
    border-bottom: gray 1px solid;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.button {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.caption {
	font-size: 10pt;
	padding-bottom: 0px;
}
h1 {
    text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
}
.list::before {
    content: "- ";
}
img {
	width: 200px;
}
.footer {
	font-size: 10pt;
	padding-top: 10px;
}
.complete {
	text-decoration: line-through;
}
a {
	color: darkslategray;
}
a:hover {
	color: darkslategrey;
}
.question{
	font-weight: 600;
	padding-right: 10px;
}
.answers {
    margin: 20px;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #297;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #3a8;
}
.button-quiz{
	padding: 20px;
}